<ion-header>

  <ion-navbar>
    <ion-title *ngIf="!paymentConfrimed">Payment confirmation</ion-title>
    <ion-title *ngIf="paymentConfrimed">Payment Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="item-profile" text-center #profilePic [style.background-image]="'url(' + item.profilePic + ')'">
  </div>

  <div class="item-detail" padding *ngIf="!payeeUnknown">
    <h2>Payment Details</h2>
    
    <ion-grid>
      <ion-row>
        <ion-col>
          <div>
            <h6><b>Payee Name</b></h6>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <h6>{{payeeName}}</h6>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            <h6><b>VPA</b></h6>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <h6>{{vpaAddress}}</h6>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            <h6><b>Amount</b></h6>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <h6><i class="fa fa-rupee"></i>{{amount}}</h6>
          </div>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="paymentConfrimed">
        <ion-col>
          <div>
            <h6><b>Transction ID</b></h6>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <h6>SP6894630</h6>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    
    <p *ngIf="!paymentConfrimed">
      Kindly verify the above details before you proceed with the payment. In case of failed transaction,
      the amount will be credited back to your account within 48 hours. 
    </p>
  </div>
  <div padding  >
      <p>Unknown Payee. Make sure you have the contact saved with the name <b>{{payeeName}}</b> and that number is registered with UPI.</p>

  </div>

  <!-- <div padding>
    <button ion-button color="primary" block (click)="cancelPayment()">{{ 'CANCEL_BUTTON' | translate }}</button>
  </div> -->
  
</ion-content>
<ion-footer>
  <!-- <button ion-button color="primary" block (click)="cancelPayment()">{{ 'CANCEL_BUTTON' | translate }}</button> -->

  <ion-grid *ngIf="!paymentConfrimed && !payeeUnknown">
    <ion-row >
      <ion-col col-6>
        <button ion-button full (click)="cancelPayment()">
          Cancel Payment
        </button>
      </ion-col>
      <ion-col col-6>
        <button ion-button full (click)="confirmPayment()">
          Confirm Payment
        </button>
      </ion-col>
    </ion-row>
    </ion-grid>
    <button *ngIf="paymentConfrimed || payeeUnknown" ion-button color="primary" block (click)="goHome()">Home</button>
</ion-footer>